{% extends "base.html.twig" %}


{% block title %}{{ parent() }} &ndash; Search{% endblock %}


{% block header %}
    {{ parent() }}
    <nav>
        <ul>
            <li><a href="{{ path("stock_panel") }}" class="btn btn-default btn-lg btn-dashboard"><span
                        class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
        </ul>
    </nav>
{% endblock %}


{% block body %}
    <form class="well" id="search-form">
        <p><input type="text" class="form-control" id="searchTerm" placeholder="Search stocks"></p>
    </form>

    <div id="search-result">
        {% set result = [] %}
        {% include "Search/result.html.twig" %}
    </div>
{% endblock %}


{% block bottom %}
    <script type="text/javascript">
        /* <![CDATA[ */>

        let timeout;
        let search_term = document.getElementById("searchTerm")
        let search_result = document.getElementById("search-result")

        function onKeyType() {
            clearTimeout(timeout);
            const term = search_term.value;
            timeout = setTimeout(function () {
                fetch("{{ path("stock_search_result") }}?term=" + encodeURI(term))
                    .then((response) => response.text())
                    .then((data) => {
                        let output = data;
                        search_result.innerHTML=output;
                    })
                ;
            }, 200);
        }

        //Listen for key type event
        search_term.addEventListener("keyup", onKeyType);

        //Check for preset
        if (search_term.value.length > 0) {
            onKeyType();
        }
        /* ]]> */
        
    </script>
{% endblock %}
